{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">
            <div class="row col-md-12">
                <div class="col-md-6">
                    <h1>Add New Purchase</h1>
                </div>
                <div class="col-md-6" style="text-align: right;">
                    <button class="button" onclick="new_customer_btn()">Add Customer</button>
                </div>
            </div>
            <br/>
            <form method="POST" id="id_create_purchase_record" class="contact100-form validate-form">
                {% csrf_token %}
                {{ form|crispy }}

                <p id="validator" style="display: none !important;"
                   class="p-1 px-3 rounded bg-soft-danger text-center align-items-center justify-content-center s-alert">
                    <i class="mr-1 mdi mdi-checkbox-blank-circle-outline icon-warning"></i><span
                        id="general_error"></span></p>
                <button type="button" onclick="create_purchase_record()" class="button">Create</button>
            </form>
        </div>
    </div>

    <script>
        function create_purchase_record() {
            var form_data = $('#id_create_purchase_record');
            $.ajax({
                type: 'post',
                url: "{% url 'mainapp:add_purchase' %}",
                data: form_data.serialize(),
                success: function (data) {
                    if (data["success"]) {
                        window.location = "{% url 'mainapp:home' %}";
                    } else {
                        $('#general_error').html(data["message"]);
                        $("#validator").fadeIn();
                        setTimeout(function () {
                            $('#general_error').html();
                            $("#validator").fadeOut();
                        }, 2000);
                    }
                }
            });
        }

        function new_customer_btn() {
            window.location = "{% url 'mainapp:add_customer' %}";
        }

    </script>

{% endblock %}
