{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">
            <h1>{% blocktrans %}{{ operation }} Manager {% endblocktrans %}{% if manager %}{{ manager }}{% endif %}</h1>
            <br/>
            <form id="id_create_manager" class="contact100-form validate-form" method="POST">
                {% csrf_token %}
                {{ form }}
{#                <button type="button" onclick="create_manager()" class="button">Create</button>#}
                <button type="submit" class="button">Submit</button>
            </form>
            <br/>
            <h1>{% trans 'Managers' %}</h1>
            <div class="tasks-list-container compact-list margin-top-35">
                {% if not managers %}
                    <div class="task-listing">{% trans 'No Managers Found' %}</div>
                {% endif %}
                {% for manager in managers %}
                    <div class="task-listing">
					<!-- Job Listing Details -->
                        <div class="task-listing-details">
                            <!-- Details -->
                            <div class="task-listing-description">
                                <h4 class="task-listing-title">{% trans 'First Name' %} - {{ manager.first_name }}</h4>
                                <h4 class="task-listing-title">{% trans 'Surname' %} - {{ manager.surname }}</h4>
                                <h4 class="task-listing-title">{% trans 'Phone' %} - {{ manager.phone }}</h4>
                                <h4 class="task-listing-title">{% trans 'Username' %} - {{ manager.username }}</h4>
                                <h4 class="task-listing-title">{% trans 'Email' %} - {{ manager.email }}</h4>
                                <a href="{% url 'mainapp:edit_manager' pk=manager.id %}" class=""><i class="icon-feather-edit"></i> <span>{% trans 'Edit' %}</span></a>
                                <a href="{% url 'mainapp:delete_manager' manager_id=manager.id %}" class=""><i class="icon-material-outline-delete"></i> <span>{% trans 'Delete' %}</span></a>
                                <br/>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
    </script>

{% endblock %}
