{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block maincontent %}
    <div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home">{% trans 'Offer' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">{% trans 'Offer Confirmation' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">{% trans 'Install' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">{% trans 'Invoice' %}</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form method="POST" id="id_offer" class="contact100-form validate-form">
                        {% csrf_token %}
                        {{ offer_form|crispy }}
                        <button id="offer" type="button" class="button">{% trans 'Submit' %}</button>
                    </form>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form method="POST" id="id_offer_confirmation" class="contact100-form validate-form">
                        {% csrf_token %}
                        {{ offer_confirmation_form|crispy }}
                        <button id="offer_confirmation" type="button" class="button">{% trans 'Submit' %}</button>
                    </form>
                </div>
                <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                    <form method="POST" id="id_install" class="contact100-form validate-form">
                        {% csrf_token %}
                        {{ install_form|crispy }}
                        <button id="install" type="button" class="button">{% trans 'Submit' %}</button>
                    </form>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    <form method="POST" id="id_invoice" class="contact100-form validate-form">
                        {% csrf_token %}
                        {{ invoice_form|crispy }}
                        <button id="invoice" type="button" class="button">{% trans 'Submit' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#myTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
            $(this).attr('aria-selected', true);
        });
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // e.target // newly activated tab
            e.relatedTarget.attr('aria-selected', false); // previous active tab
        });
        $('.button').on('click', function(e) {
            let btnId = $(this).attr('id');
            let formData = $(this).parent().serialize() + '&kind=' + btnId;
            $.ajax({
                url: "{% url 'mainapp:attachment_type' %}",
                type: 'post',
                dataType: 'json',
                data: formData,
                success: function(data) {
                    alert("{% trans 'Success' %}");
                },
                error: function(data) {
                    alert("{% trans 'Error' %}");
                }
            })
        })
    </script>

{% endblock %}
