{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block maincontent %}
    <div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
            Here
        </div>
    </div>

    <script>
    </script>

{% endblock %}

{#<div class="task-listing">#}
{#                        <!-- Job Listing Details -->#}
{#                            <div class="task-listing-details">#}
{#                                <!-- Details -->#}
{#                                <div class="task-listing-description">#}
{#                                    <div class="row">#}
{#                                            <span>{{ attachment.uploaded_by }}&nbsp</span><br/>#}
{#                                            <span> (<i>{{ attachment.created_at }}</i>).&nbsp</span>#}
{#                                    </div>#}
{#                                    <div class="row">#}
{#                                            <span class="task-listing-title"><a target="_blank" href="{{ MEDIA_URL }}{{ attachment.upload.url }}">{{ attachment.file_name }}.{{ attachment.file_type }}</a></span>#}
{#                                            <a style="text-decoration: none" href="{% url 'mainapp:edit_attachments' customer_id=customer_id pk=attachment.id %}" class="">&nbsp &nbsp<i class="icon-feather-edit"></i><span> Edit</span></a>#}
{#                                            <a style="text-decoration: none" href="{% url 'mainapp:delete_attachments' customer_id=customer_id pk=attachment.id %}" class="">&nbsp &nbsp<i class="icon-material-outline-delete"></i><span class="danger"> Delete</span></a>#}
{#                                        </p>#}
{#                                    </div>#}
{#                                    <br/>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}