{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% block maincontent %}
    <div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
            <h1>Add New Attachments</h1>
            <br/>
            <form method="POST" enctype="multipart/form-data" id="id_create_attachment" class="contact100-form validate-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="button">Submit</button>
            </form>

            <div class="tasks-list-container compact-list margin-top-35">
                {% if not attachments %}
                    <div class="task-listing">No Attachments Found</div>
                {% endif %}
                {% for attachment in attachments %}
                    <div class="task-listing">
					<!-- Job Listing Details -->
                        <div class="task-listing-details">
                            <!-- Details -->
                            <div class="task-listing-description">
                                <span>{{ attachment.id }}. </span>
                                <span class="task-listing-title"><a href="{{ MEDIA_URL }}{{ attachment.upload.url }}">{{ attachment.file_name }}</a></span>
                                <br/>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
    </script>

{% endblock %}