{% extends 'dashboard.html' %}
{% block maincontent %}
    <div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
            <h1>{{ operation|default:'Add New' }} Call Note</h1>
            <br/>
            <form method="POST" id="id_create_callnotes" class="contact100-form validate-form">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="button">Submit</button>
            </form>

            {% if object_list %}
            <div class="tasks-list-container compact-list margin-top-35">
                {% if not object_list %}
                    <div class="task-listing">No Call Notes</div>
                {% endif %}
                {% for note in object_list %}
                    <div class="task-listing">
					<!-- Job Listing Details -->
                        <div class="task-listing-details">
                            <!-- Details -->
                            <div class="task-listing-description">
                                <h3 class="task-listing-title">Customer ID - {{ note.customer.id }} {{ note.created|default:"" }}</h3>
                                <p class="task-listing-title">Creator - {{ note.user.first_name }}</p>
                                <p class="task-listing-title">Call Notes - {{ note.notes }}</p>
                                <p>
                                    <a href="{% url 'mainapp:edit_call_notes' customer_id=customer_id pk=note.id %}" class=""><i class="icon-feather-edit"></i> <span>Edit</span></a>
                                    <a href="{% url 'mainapp:delete_call_notes' customer_id=customer_id pk=note.id %}" class=""><i class="icon-material-outline-delete"></i> <span>Delete</span></a>
                                </p>
                                <br/>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <script>
    </script>

{% endblock %}