{% load static %}

    <meta charset="UTF-8">

    <!-- =============== Viewport =============== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- =============== Description =============== -->
    <meta name="description" content=""/>

    <!-- =============== keywords =============== -->
    <meta name="keywords" content=""/>

    <!-- =============== Bootstrap =============== -->
    <link rel="stylesheet" href="{% static '/dashboard-assets/css/bootstrap.min.css' %}"/>

    <!-- =============== Favicon =============== -->
    <link href="{% static '/dashboard-assets/img/logo.png" rel="shortcut icon' %}"/>

    <!-- =============== Fontawsome =============== -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <!-- =============== Main_CSS =============== -->
    <link rel="stylesheet" href="{% static '/dashboard-assets/css/style.css' %}"/>

    <!-- =============== CUSTOM_CSS =============== -->
    <link rel="stylesheet" href="{% static '/dashboard-assets/css/custom_style.css' %}"/>

    <!-- =============== Responsive_CSS =============== -->
    <link rel="stylesheet" href="{% static '/dashboard-assets/css/responsive.css' %}"/>
