{% extends 'dashboard.html' %}
{% block maincontent %}
    <div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
            <h1>Purchases</h1>
            <div class="tasks-list-container compact-list margin-top-35">
                {% if not purchases %}
                    <div class="task-listing">No Purchase Record Found</div>
                {% endif %}
                {% for purchase in purchases %}
                    <div class="task-listing">
					<!-- Job Listing Details -->
                        <div class="task-listing-details">
                            <!-- Details -->
                            <div class="task-listing-description">
                                <h4 class="task-listing-title"><b>Reseller Name - </b>{{ purchase.reseller_name }}</h4>
                                <h4 class="task-listing-title"><b>Module Watt - </b>{{ purchase.watt }}</h4>
                                <h4 class="task-listing-title"><b>Module Count - </b>{{ purchase.module_count }}</h4>
                                <br/>
                                <a target="_blank" href="{% url 'mainapp:generate_invoices' purchase_id=purchase.id %}">
                                    <button class="button">Generate Invoice</button>
                                </a>
                                <br/>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
    </script>

{% endblock %}