{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
            <div class="row col-md-12">
                <p>
                    <a class="button" href="{% url 'mainapp:add_purchase' %}">{% blocktrans %}Add Purchase{% endblocktrans %}</a>
                    <br/>
                    <br/>
                </p>
            </div>
            <h1>{{ object_type }}</h1>
            <div class="tasks-list-container compact-list margin-top-35">
                {% if not object_list %}
                    <div class="task-listing">{% blocktrans %}No {{ object_type }}(s) Found{% endblocktrans %}</div>
                {% endif %}
                    <div class="task-listing">
                    <!-- Job Listing Details -->
                        <div class="task-listing-details">
                            <!-- Details -->
                            <div class="task-listing-description">
                                <table class="table" style="border-collapse: collapse">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>{% trans 'Purchase ID' %}</th>
                                            <th>{% trans 'Watt'  %}</th>
                                            <th>{% trans 'Count'  %}</th>
                                            <th>{% trans 'KWP' %}</th>
                                            <th>{% trans 'Battery' %}</th>
                                            <th>{% trans 'DC Term' %}</th>
                                            <th>{% trans 'AC Term' %}</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in object_list %}
                                        <tr>
                                            <td>{{ obj.id }}</td>
                                            <td>{{ obj.watt }}</td>
                                            <td>{{ obj.module_count }}</td>
                                            <td>{{ obj.kwp }}</td>

                                            <td>{{ obj.with_battery }}</td>
                                            <td>{{ obj.dc_term }}</td>
                                            <td>{{ obj.ac_term }}</td>
                                            <td>
                                                <a href="{% url 'mainapp:edit_purchase' pk=obj.id %}" class=""><i class="icon-feather-edit"></i> <span>{% trans 'Edit' %}</span></a>
                                            </td>
                                            <td>
                                                <a href="{% url 'mainapp:delete_purchase' pk=obj.id %}" class=""><i class="icon-material-outline-delete"></i> <span>{% trans 'Delete' %}</span></a>
                                            </td>
                                        </tr>
                                        {% if obj.with_battery %}
                                            <tr>
                                                <td>{% trans 'With Battery' %}</td>
                                                <td colspan="2"><strong>Mf: </strong>{{ obj.manufacturer }}</td>
                                                <td colspan="6"><strong>KWH: </strong>{{ obj.kwh }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>{% trans 'Without Battery' %}</td>
                                                <td colspan="2"><strong>Mf: </strong>{{ obj.manufacturer2 }}</td>
                                                <td colspan="6"><strong>KWH: </strong>{{ obj.kwh2 }}</td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td style="border-bottom: solid thin">{% trans 'Extra' %}</td>
                                            <td style="border-bottom: solid thin" colspan="8">{{ obj.extra_details }}</td>
                                        </tr>
                                        {% endfor %}
                                    <tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
            {# ------------------- PAGINATION ----------------- #}
            {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> &laquo; </a></li>
                        {% else %}
                            <li class="page-item" disabled><a class="page-link" aria-disabled="true"> &laquo; </a></li>
                        {% endif %}

                        <li class="page-item"><a class="page-link">{{ page_obj.number }}</a></li>

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"> &raquo; </a></li>
                        {% else %}
                            <li class="page-item" disabled><a class="page-link" aria-disabled="true"> &raquo; </a></li>
                        {% endif %}
                        <br>
                    </ul>
                    <br>
                </nav>
                <br>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
