{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">
            <h1>{{ operation }} Task</h1>
            <br/>
            <form method="POST" id="id_create_task" class="contact100-form validate-form">
                {% csrf_token %}
                {{ form }}
                <div>
                    <button type="submit" class="button">Submit</button>
                </div>
            </form>
            <br/>
            <h1>Tasks</h1>
            <h3 class="tasks-list-container compact-list margin-top-35">
                {% if not object_list %}
                    <div class="task-listing">No Tasks Found</div>
                {% endif %}
                {% for obj in object_list %}
                <div class="task-listing">
                <!-- Job Listing Details -->
                    <div class="task-listing-details">
                        <!-- Details -->
                        <div class="task-listing-description">
                                {% if not obj.completed %}
                                <table class="table">
                                    <tr>
                                        <th>Complete Before</th>
                                        <td>{{ obj.complete_before }}</td>
                                    </tr>
                                    {% if request.user.is_superuser %}
                                        <tr>
                                            <th>Manager</th>
                                            <td>{{ obj.user }} ({{ obj.user.email }})</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <th>Completed</th>
                                        <td>{{ obj.completed }}{{ "    " }}
                                            {% if not obj.completed %}
                                            <a href="{% url 'mainapp:mark_completed' pk=obj.id %}">Mark Complete</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Creator</th>
                                        <td>{{ obj.creator }} {{ obj.creator.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Todo</th>
                                        <td>
                                            <strong>{{ obj.message }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{% url 'mainapp:edit_task' pk=obj.id %}" class=""><i class="icon-feather-edit"></i> <span>Edit</span></a>
                                            <a href="{% url 'mainapp:delete_task' pk=obj.id %}" class=""><i class="icon-material-outline-delete"></i> <span>Delete</span></a>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                                {% endif %}
                            <br/>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <h4>Completed</h4>
                {% for obj in completed_object_list %}
                    <div class="task-listing">
                    <!-- Job Listing Details -->
                        <div class="task-listing-details">
                            <!-- Details -->
                            <div class="task-listing-description">
                                {% if user.is_superuser %}
                                    <span>{{ obj.user }}</span>
                                {% endif %}
                                <span>{{ obj.todo_date }}</span>
                                <span><strike>{{ obj.message }}</strike></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>

    <script>
    </script>

{% endblock %}
