{% extends 'chat/chat_home.html' %}
{% block maincontent %}

    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <div class="message_display d-none" style="text-align: center; margin-top: 25%;">
                <p class="title-text">Please Select The User First!</p>
                <div id="id_user_username" hidden>{{ user.username }}</div>
            </div>

            <div class="chat-box-right d-none">
                <div class="chat-header"></div>
                <div class="chat-body">
                    <div class="chat-detail slimscroll scroll-div">
                        <div class="media">
                            <div class="media-img">
                                <div class="media-body user-chat ml-3">

                                </div>
                            </div>
                            <!--end media-body-->
                        </div>
                    </div>
                </div>
                <div class="chat-footer">
                    <input hidden id="id_user_username" value="{{ user.username }}">
                    <input hidden id="id_user_email" value="{{ user.email }}">
                    <form method="post" id="message_send_to_user">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-11 d-flex">
                                <span class="chat-admin"></span>
                                <textarea rows="1" cols="266" id="textmsg" class="form-control admin-message ml-3 "
                                          name="message" placeholder="Type something here..."
                                          style="float: left; overflow: hidden;text-align:left; border-color: Transparent;-moz-text-align-last: left !important;text-align-last: left; resize: none;"
                                          required="true"></textarea>
                            </div>
                            <div class="col-1 text-right">
                                <button type="button" id="user_message_submit" name="user_message_submit"
                                        class="btn btn-sm btn-primary">Send
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p id="validator" style="display: none !important;"
               class="p-1 px-3 rounded bg-soft-danger text-center align-items-center justify-content-center s-alert"><i
                    class="mr-1 mdi mdi-checkbox-blank-circle-outline icon-warning"></i><span id="general_error"></span>
            </p>
        </div>
    </div>

    <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/chat/v3.0/twilio-chat.min.js"></script>
    <script>
        var chat_client;
        var active_channel;
        var user_username = $('#id_user_username').text();

        $.getJSON('{% url "mainapp:fetch_twilio_access_token" identity=1234 %}'.replace(/1234/, 'dev@admin.com'), {
            device: 'browser'
        }, function (data) {
            Twilio.Chat.Client.create(data.result.access_token).then(client => {
                console.log('Created chat client');
                chat_client = client;

            }).catch(error => {
                console.error(error);
            });
        });

        function on_Selecting_channel(ch_name) {
            leaveCurrentChannel().then(function () {
                chat_client.getSubscribedChannels().then(get_selected_channel(ch_name));
            });

        }

        function get_selected_channel(channel_unique_name) {
            if (!active_channel) {
                chat_client.getChannelByUniqueName(channel_unique_name).then(function (channel) {
                    active_channel = channel;
                    console.log('Channel Found!');
                    setupChannel();
                }).catch(function () {
                    console.log('Channel not found!');
                });
            } else if (active_channel.uniqueName != channel_unique_name) {
                //active_channel.removeListener('messageAdded', function(message) {});
                chat_client.getChannelByUniqueName(channel_unique_name).then(function (channel) {
                    active_channel = channel;
                    console.log('Channel Found!');
                    setupChannel();
                }).catch(function () {
                    console.log('Channel not found!');
                });
            }
        }

        function leaveCurrentChannel() {
            if (active_channel) {
                return active_channel.leave().then(function (leftChannel) {
                    console.log('left ' + leftChannel.friendlyName);
                    leftChannel.removeListener('messageAdded', add_message_in_chat);
                });
            } else {
                return Promise.resolve();
            }
        }

        function add_message_in_chat(message) {
            var username = $('#id_user_username').val();
            var user_type = "";
            if (message.author == username) {
                user_type = "reverse";
            }
            $('.user-chat').append(`
                <div class="chat-msg ${user_type}" style="word-break: break-word;">
                    <p>${message.body}<br><span class="pull-right"><small>just now </small></p>
                </div>`
            );
            var height = $('.user-chat').height();
            $('.chat-detail').scrollTop(height);
            {#$('.chat-detail').slimScroll({scroll: height});#}
        }

        function setupChannel(msg = null) {
            // Join the general channel
            active_channel.join().then(function (channel) {
                if (msg) {
                    active_channel.sendMessage(msg);
                    document.getElementById("textmsg").value = "";
                }
                console.log("Channel Joined!");
                active_channel.on('messageAdded', add_message_in_chat);
            }).catch(function () {
                console.log('Already Joined!');
            });

            // Process the member to stop showing typing
            active_channel.on('typingStarted', function (member) {
                //process the member to show typing
                console.log("typingStarted");
                updateTypingIndicator(member, true);
            });

            // Set  the listener for the typing ended Channel event
            active_channel.on('typingEnded', function (member) {
                //process the member to stop showing typing
                console.log("typingEnded");
                updateTypingIndicator(member, false);
            });
        }



    </script>

    <script type="application/javascript">
        function display_error_message(msg) {
            $('#general_error').html("");
            $('#general_error').html(msg);
            $("#validator").fadeIn();

            setTimeout(function () {
                $("#validator").fadeOut();
            }, 2000);
        }

        $("#search").on('click', function () {
            var height = $('.user-chat').height();
            $('.chat-detail').scrollTop(height);
            $('.new-message').removeClass('active-div');
            $(".message_display").removeClass("d-none");
            $(".chat-box-right").addClass("d-none");
            $('.chat-header').html("");
            $('.user-chat').html("");
            var height = $('.chat-detail').height();
            $('.chat-body').scrollTop(height);
            var url = "{% url 'mainapp:user_search'%}";
            var form_data = $('#id_search_user');
            var search_value = document.getElementById("chat-search").value;

            document.getElementsByClassName("chat-box-left").innerHTML = '';
            if (search_value != "") {
                $("#loading").fadeIn();
                $.ajax({
                    type: $(form_data).attr('method'),
                    url: url,
                    data: form_data.serialize(),
                    success: function (data) {
                        debugger;
                        $('.clear-filter').html("");
                        var height = $('.chat-detail').height();
                        $('.chat-body').scrollTop(height);
                        {#$('.chat-detail').slimScroll({scroll: height});#}
                        $('.chat-header').html("");
                        $('.user-chat').html("");
                        $('.tab-pane').html("");
                        $("#loading").fadeOut();

                        $(`<div class="pull-right"><a href="{% url 'mainapp:chat' %}" class="mb-5 clear-filter" style="color: #aeb4ce;text-decoration: none;" onclick="javascript:window.location.href={% url 'mainapp:chat' %}">Clear</a></div>`).insertBefore(".chat-search");
                        for (user in data["users"]) {
                            $('.tab-pane').append(`<a href='#' id=${data['users'][user][0]} name=${data['users'][user][1]} class="media new-message chat-message">
                              <div class="media-left">
                                  
                                  <span class="round-10 bg-success"></span>
                              </div>
                              <div class="media-body">
                                  <div class="d-inline-block" style="text-align: left;">
                                      <h2>${data['users'][user][1]}</h2>
                                  </div>
                              </div></a>`).on('click', ".new-message", function () {
                                var user_id = $(this)[0].id;
                                var height = $('.user-chat').height();
                                $('.chat-detail').scrollTop(height);
                                {#$('.chat-detail').slimScroll({scroll: height});#}
                                $('.new-message').removeClass('active-div');
                                $(this).addClass('active-div');
                                $("#loading").fadeIn();
                                $(".message_display").addClass("d-none");
                                $.ajax({
                                    type: 'post',
                                    url: "{% url 'mainapp:chat_messages' %}",
                                    data: {
                                        'user_id': user_id,
                                    },
                                    success: function (data) {
                                        $(this)[0].name = data["channel_id"];
                                        var height = $('.chat-detail').height();
                                        $('.chat-body').scrollTop(height);
                                        $("#loading").fadeOut();
                                        $(".chat-box-right").removeClass("d-none");
                                        $('.chat-header').html("");
                                        $('.user-chat').html("");
                                        $('.chat-header').html(`<a id=${data["users"][0][0]} name=${data["users"][0][1]} class=" media chat_id">
                                          <div class="media-left">
                                          </div>
                                          <div class="media-body">
                                              <div>
                                                  {#<h3 class="mb-1 mt-0">${data["users"][0][0]}</h3>#}
                                                  <h3 class="mb-1 mt-0">${data["selected_channel_name"]}</h3>
                                                  <p class="d-none is_typing">is typing..</p>
                                              </div>
                                          </div>
                                      </a> `);
                                        for (chat in data["chat"]) {
                                            var user_type = "";
                                            if (!(data["chat"][chat][1] == parseInt(user_id))) {
                                                user_type = "reverse";
                                            }
                                            $('.user-chat').append(`
                                            <div class="chat-msg ${user_type}" style="word-break: break-word;">
                                                <p>${data["chat"][chat][0]}<br><span class="pull-right"><small>${data["chat"][chat][2]}</small></p>
                                            </div>`
                                            );
                                        }
                                        var height = $('.user-chat').height();
                                        $('.chat-detail').scrollTop(height);
                                        {#$('.chat-detail').slimScroll({scroll: height});#}
                                    }
                                });
                            });
                        }
                    }
                });
            }
        });

        $("input[name='search']").on('keypress', function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                document.getElementById("search").click();
            }
        });

        $('.new-message').on('click', function () {
            on_Selecting_channel($(this)[0].name);
            var height = $('.user-chat').height();
            $('.chat-detail').scrollTop(height);
            {#$('.chat-detail').slimScroll({scroll: height});#}
            $('.new-message').removeClass('active-div');
            $(this).addClass('active-div');
            var user_id = parseInt($(this)[0].id);
            var height = $('.chat-detail').height();
            $('.chat-body').scrollTop(height);
            $("#loading").fadeIn();

            $.ajax({
                type: 'post',
                url: "{% url 'mainapp:chat_messages' %}",
                data: {
                    'user_id': user_id,
                    'channel_id': $(this)[0].id,
                },
                success: function (data) {
                    var height = $('.chat-detail').height();
                    $('.chat-body').scrollTop(height);
                    $("#loading").fadeOut();
                    $(".message_display").addClass("d-none");
                    $(".chat-box-right").removeClass("d-none");
                    $('.chat-header').html("");
                    $('.user-chat').html("");
                    $('.chat-header').html(`<a  id=${data["users"][0][0]} name=${data["users"][0][1]} class="media chat_id">
                        <div class="media-left">
                        
                    </div>
                    <div class="media-body">
                        <div>
                            {#<h3 class="mb-1 mt-0">${data["users"][0][0]}</h3>#}
                            <h3 class="mb-1 mt-0">${data["selected_channel_name"]}</h3>
                            <p class="d-none is_typing">is typing..</p>
                        </div>
                    </div>
                </a> `);

                    for (chat in data["chat"]) {
                        var user_type = "";
                        if (data["chat"][chat][1] == "admin@cache.com") {
                            user_type = "reverse";
                        }
                        $('.user-chat').append(`
                        <div class="chat-msg ${user_type}" style="word-break: break-word;">
                            <p>${data["chat"][chat][0]}<br><span class="pull-right"><small>${data["chat"][chat][2]}</small></p>
                        </div>`
                        );
                        var height = $('.user-chat').height();
                        $('.chat-detail').scrollTop(height);
                        {#$('.chat-detail').slimScroll({scroll: height});#}
                    }
                }
            });
        });

        $("#user_message_submit").on('click', function () {
            if ($('#textmsg').val().trim()) {
                var height = $('.user-chat').height();
                $('.chat-detail').scrollTop(height);
                {#$('.chat-detail').slimScroll({scroll: height});#}

                var user_id = document.getElementsByClassName("chat_id");
                if (user_id == null || user_id.length == 0) {
                    var message = document.getElementById("textmsg").value = "";
                    $('#general_error').html("Please select user first");
                } else {
                    var message = document.getElementById("textmsg").value;
                    if (message) {
                        $(".error").hide();
                        var message = document.getElementById("textmsg").value;
                        var url = "{% url 'mainapp:send_messages' %}";
                        var form_data = $('#message_send_to_user');

                        if ($('#message_send_to_user')) {
                            $("#loading").fadeIn();
                            try {
                                active_channel.sendMessage(message);
                                document.getElementById("textmsg").value = "";
                            } catch (e) {
                                chat_client.createChannel({
                                    uniqueName: user_id[0].id,
                                    friendlyName: user_id[0].id,
                                }).then(function (channel) {
                                    console.log('Channel Created');
                                    active_channel = channel;
                                    setupChannel(message);

                                });
                            }

                            $("#loading").fadeOut();
                        }
                    }
                }
            } else {
                $('#textmsg').val("");
                display_error_message("Please Enter the message!");
            }
        });

        $("input[name='message']").on('keypress', function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                document.getElementById("user_message_submit").click();
            }
        });
    </script>


{% endblock %}