{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
            <h1>{{ operation }} {% if object %}{{ object }}{% endif %}</h1>
            <br/>
            <form id="id_create_customer" method="POST" class="contact100-form validate-form">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="button">{% trans 'Submit' %}</button>
			</form>
        </div>
    </div>

{% endblock %}
