{% extends 'chat2/chat_home.html' %}
{% block maincontent %}

    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <div class="message_display d-none" style="text-align: center; margin-top: 25%;">
                <p class="title-text">Please Select The User First!</p>
                <div id="id_user_username" hidden>{{ user.username }}</div>
            </div>

            <div class="chat-box-right d-none">
                <div class="chat-header"></div>
                <div class="chat-body">
                    <div class="chat-detail slimscroll scroll-div">
                        <div class="media">
                            <div class="media-img">
                                <div class="media-body user-chat ml-3">

                                </div>
                            </div>
                            <!--end media-body-->
                        </div>
                    </div>
                </div>
                <div class="chat-footer">
                    <input hidden id="id_user_username" value="{{ user.username }}">
                    <input hidden id="id_user_email" value="{{ user.email }}">
                    <form method="post" id="message_send_to_user">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-11 d-flex">
                                <span class="chat-admin"></span>
                                <textarea rows="1" cols="266" id="textmsg" class="form-control admin-message ml-3 "
                                          name="message" placeholder="Type something here..."
                                          style="float: left; overflow: hidden;text-align:left; border-color: Transparent;-moz-text-align-last: left !important;text-align-last: left; resize: none;"
                                          required="true"></textarea>
                            </div>
                            <div class="col-1 text-right">
                                <button type="button" id="user_message_submit" name="user_message_submit"
                                        class="btn btn-sm btn-primary">Send
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p id="validator" style="display: none !important;"
               class="p-1 px-3 rounded bg-soft-danger text-center align-items-center justify-content-center s-alert"><i
                    class="mr-1 mdi mdi-checkbox-blank-circle-outline icon-warning"></i><span id="general_error"></span>
            </p>
        </div>
    </div>

{% endblock %}