{% load static %}

<html>
    <head>
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
                background: white;
{#                width: 21cm;#}
{#                height: 28.7cm;#}
                display: block;
                margin: 0 auto;
                padding: 10px 25px;
                margin-bottom: 0.5cm;
{#                box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);#}
            }
            table, th, td {
                border-collapse: collapse;
            }

        </style>
    </head>
    <body>
        <div style="width:100%; text-align:right;">
            <img src="{% static 'images/logo1.png' %}" width="220px" height="100px"/>
        </div>
        <div>
            <hr style="width: 50%; margin-left: 0; height: 0.5px; background-color: #333">
            <b>{{ purchase.name|title }}</b>
        </div>
        <div>
            <b>{{ purchase.street|title }}</b>
        </div>
        <div>
            <b>{{ purchase.postcode }}, {{ purchase.place|title }}</b>
        </div>
        <div class="right" style="text-align:right;">
            <div>
                {% if purchase.offer_date %}
                    <b>Offer Date: {{ purchase.offer_date }}</b>
                {% endif %}
            </div>
            <div>
                <b>Customer ID: {{ purchase.customer_id }}</b>
            </div>
            {% if purchase.date_sent %}
                <b>Date Sent: {{ purchase.date_sent }}</b>
            {% endif %}
        </div>
        <div class="row col-md-12" >
            <div class="col-md-6" style="float: left;">
                <h3>Rechnung</h3>
                <b>{{ purchase.fullname|title }}</b>
                <span><p>Bitte bei Zahlungen und Schriftverkehr angeben!</p></span>
            </div>
        </div>

        <table style="width:100%;">
            <tbody>
            <tr style="
            border: 0.5px solid grey;
            background-color: #a9d7f3;
            border-collapse: collapse;
            vertical-align: middle;">
                <th style="height:25px;">Beschreibung</th>
                <th style="height:25px; border: 0.5px solid grey;">Betrag</th>
            </tr>
            <tr style="height: 97px;">
                <td style="border: 0.5px solid grey;">Lieferung und Montage der Photovoltaikanlage <br><br>(inkl. Komponenten)</td>
                <td style="text-align: center; border: 0.5px solid grey;">{{ purchase.price_without_tax }}</td>
            </tr>
            <tr>
                <td style="height:25px; padding-left: 75%;" >Summe netto &nbsp;  </td>
                <td style="height:25px; text-align: center; border: 0.5px solid grey;">{{ purchase.price_without_tax }}</td>
            </tr>
            <tr>
                <td style="height:25px; padding-left: 75%;" >zzgl. 19% MwSt &nbsp;</td>
                <td style="height:25px; text-align: center; border: 0.5px solid grey;">{{ purchase.tax }}</td>
            </tr>
            <tr>
                <td style="height:25px; padding-left: 75%;" ><b>Summe brutto &nbsp;</b></td>
                <td style="height:25px; text-align: center; border: 0.5px solid grey;">{{ purchase.price_with_tax }}</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
        <p>Bitte begleichen Sie den Rechnungsbetrag umgehend nach Erhalt der Rechnung auf das unten angegebene Konto.</p>
    </body>
</html>