	<style>
		.container {
			width: 595px;
			margin: auto;
			border: 1px solid #ccc;
			overflow: hidden;
			padding: 10px 40px;
			height: 850px;
		}
		.logo {
			width: 200px;
			float: right;
		}
		.logo img {
			width: 100%;
		}
		.confirmation_table {
			border-collapse: collapse;
		}
		.confirmation_table tr:first-child {
			border: 2px solid #000;
		}
		.confirmation_table tr td {
			padding: 5px 20px;
			border: none;
		}
		.confirmation-area {
			margin-top: 10px;
		}
		.confirmation-area .confirmation-box {
			float: right;
		}
		.customer-info-box {
			border: 2px solid #000;
			width: 150px;
			padding: 3px 10px;
		}
		.customer-info-box p {
			margin: 0;
			padding: 0;
		}
		.delivery-note-area {
			margin-top: 30px;
			border: 2px solid #000;
		}
		
		.delivery-note-table {
			width: 100%;
			overflow: hidden;
		}
	.delivery-note-table tr td {
    padding: 8px 0;
    font-size: 14px;
}
		.delivery-note-table tr td:last-child {
			padding: 0;
		}
	.invoice-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}
		.invoice-table tr:first-child {
			border: 2px solid #000;
		}
		.invoice-table tr td {
			border: none;
			text-align: left;
			    padding: 10px 0;
		}
		.invoice-table p {
			margin: 0;
			padding: 1px;
		}

	</style>
	<div class="container">
		<div class="logo">
			<img src="Screenshot_2.png" alt="logo">
		</div>
		<br>
		<br>
		<br>
		<br>
	<div class="confirmation-area">
		<div class="confirmation-box">
			<table border="2" class="confirmation_table">
				<tr>
					<td colspan="2">Bestätigungsschreiben </td>
				</tr>
				<tr>
					<td>Datum</td>
					<td>XXXXX</td>
				</tr>
				<tr>
					<td>Telefon</td>
					<td>XXXXX</td>
				</tr>
				<tr>
					<td>Bearbeiter/in</td>
					<td>XXXXX</td>
				</tr>
				<tr>
					<td>Kundennr</td>
					<td>XXXXX</td>
				</tr>
				<tr>
					<td>Kommission</td>
					<td>XXXXX</td>
				</tr>
			</table>
		</div>
	</div>
	<br> 
	<br> 
	<br> 
	<br> 
	<div class="customer-info-box">
		<p>Herrn</p>
		<p>XXX</p>
		<p>XXX</p>
		<p>XXX</p>
	</div>

	<div class="delivery-note-area">
		<table class="delivery-note-table">
			<tr>
				<td>LIEFERBEDINGUNGEN</td>
				<td> <span style="border: 2px solid #000;padding: 3px;">frei Haus</span></td>
				<td>fIhr Zeichen : <span>XXXXXXXX</span></td>
			</tr>
			<tr>
				<td>LIEFERTERMIN</td>
				<td colspan="2"> <span style="border: 2px solid #000;padding: 3px;">2020</span><span style="border: 2px solid #000;padding: 3px;margin-left: 5px;">Inbetriebnahme</span></td>
			</tr>
			<tr>
				<td colspan="3"><span style="background:#63ff84;">Die Warenanlieferung erfolgt einen Tag vor Montagebeginn</p></span>
				
			</tr>
		</table>
	</div>

	<div class="hombble-area">
		<br>
		<p style="margin: 0;padding: 0;">Sehr geehrter Herr</p>
		<p style="margin: 0;padding: 0;">hiermit bestätigen wir zu unseren allgemeinen Geschäftsbedingungen Ihren Auftrag:</p>
		<p><b>Komplett-Service inkl. Beratung, Planung, Montage und Inbetriebnahme einer durch die
 konfigurierten Photovoltaik-Anlage.</b></p>
	</div>
	<div class="photovoltaic-introduce">
		<p style="float: left;">Photovoltaik - Anlage mit einer Modulleistung von: </p>
		<p style="float: left;margin-left: 30px;"><span style="border: 2px solid #000;padding: 5px 20px;,margin-right: 10px;">XXX</span> kW/p </p>
	</div>
	<br>
	<br>
	<br>

	<table class="invoice-table" border="2">
		<tr>
			<td>POS</td>
			<td>MENGE</td>
			<td>EINHEIT</td>
			<td>BEZEICHNUNG</td>
		</tr>
		 <tr>
			<td style="width: 40px;text-align: center;">1</td>
			<td style="width: 80px;">#BEZUG</td>
			<td style="width: 80px;">Stück</td>
			<td>
				<b>Monokristalline Hochleistungsmodule</b>
				<p>- Positive Leistungstoleranz (-0 Wp / +3 Wp)</p>
				<p>-(inkl. 20 Jahre Garantieverlängerung für SENEC Solar Module) </p>
				<p>- weitere technische Details sind dem beigefügten Datenblatt entnehmbar</p>
			</td>
		</tr>
		 <tr>
			<td style="width: 40px;text-align: center;">2</td>
			<td style="width: 80px;">#BEZUG</td>
			<td style="width: 80px;">Stück</td>
			<td>
				<b>Monokristalline Hochleistungsmodule</b>
				<p>- Positive Leistungstoleranz (-0 Wp / +3 Wp)</p>
				<p>-(inkl. 20 Jahre Garantieverlängerung für SENEC Solar Module) </p>
				<p>- weitere technische Details sind dem beigefügten Datenblatt entnehmbar</p>
			</td>
		</tr>  
		
	</table>
</div>
<br>
<br>


	<div class="container">
		<div class="logo">
			<img src="Screenshot_2.png" alt="logo">
		</div>
		<br>
		<br>
		<br>
		<br>

		<table class="invoice-table" border="2">
		<tr>
			<td>POS</td>
			<td>MENGE</td>
			<td>EINHEIT</td>
			<td>BEZEICHNUNG</td>
		</tr>
		 <tr>
			<td style="width: 40px;text-align: center;">3</td>
			<td style="width: 80px;"></td>
			<td style="width: 80px;"></td>
			<td>
				<p><b>Solarkabel doppelt Isoliert</b></p>
				<p>- Einsatztemperatur -40° bis +120°C</p>
				<p>- Kurzschlussfest +280°C </p>
				<p>- Hohe UV-, Ozon-, Hydrolysebeständigkeit</p>
				<p>- Einsatztemperatur -40° bis +120°C</p>
				<p>- Kurzschlussfest +280°C </p>
				<p>- Hohe UV-, Ozon-, Hydrolysebeständigkeit</p>
			</td>
		</tr>
		 <tr>
			<td style="width: 40px;text-align: center;">4</td>
			<td style="width: 80px;"></td>
			<td style="width: 80px;"></td>
			<td>
				<b>Solarkabel doppelt Isoliert</b>
				<p>- Positive Leistungstoleranz (-0 Wp / +3 Wp)</p>
				<p>-(inkl. 20 Jahre Garantieverlängerung für SENEC Solar Module) </p>
				<p>- weitere technische Details sind dem beigefügten Datenblatt entnehmbar</p>
			</td>
		</tr>  
		 <tr>
			<td style="width: 40px;text-align: center;">5</td>
			<td style="width: 80px;">Pauschal</td>
			<td style="width: 80px;"></td>
			<td>
				<p><b>Arbeitsschutzgerät und / oder Personenschutzmaßnahmen</b></p>

			</td>
		</tr>
		 <tr>
			<td style="width: 40px;text-align: center;">6</td>
			<td style="width: 80px;"></td>
			<td style="width: 80px;">xxxxx m²</td>
			<td>
				<p><b>Anlagenmontage</b></p>
				<p>Konfiguration Ihrer Photovoltaik Anlage mit optimaler abgestimmten
Komponenten für maximale Stromgewinnung</p>
			</td>
		</tr>
		 <tr>
			<td style="width: 40px;text-align: center;">6a</td>
			<td style="width: 80px;"></td>
			<td style="width: 80px;">xxxxx m²</td>
			<td>
				<p><b>Anlagenmontage</b></p>
				<p>Montage der Unterkonstruktion auf Ihr Dach. Setzen der Edelstahlanker auf die Dachsparren. Ausrichtung und Befestigung der nach
Maß zugeschnittenen Aluminium - Basisprofile auf die Anker.
Vorbereitung des Halterungssystems zur Befestigung der Module,
sowie Anschluss, Sicherung und Verkabelung der Module</p>
<p>Alle elektrischen Abschlussarbeiten der Photovoltaik-Anlage werden
von unserem autorisierten Elektromeister auf Kosten der Firma
ausgeführt.</p>
			</td>
		</tr> 
		 <tr>
			<td style="width: 40px;text-align: center;">7</td>
			<td style="width: 80px;"></td>
			<td style="width: 80px;">xxxxx m²</td>
			<td>
				<p><b>Anmeldung EVU</b></p>
				<p>EVU-Anmeldung, Schriftverkehr, Dokumentation für Zähler sowie
spezielle Dokumentationen für EVU wie Betriebsschaltbild,
Prüfprotokoll und Fertigmeldung.</p>

			</td>
		</tr>  
		
	</table>
</div>
<br>

<div class="container">
		<div class="logo">
			<img src="Screenshot_2.png" alt="logo">
		</div>
		<br>
		<br>
		<br>
		<br>

		<table class="invoice-table" border="2">
		<tr>
			<td>POS</td>
			<td>MENGE</td>
			<td>EINHEIT</td>
			<td>BEZEICHNUNG</td>
		</tr>
		<tr>
			<td style="width: 40px;text-align: center;">3</td>
			<td style="width: 80px;"></td>
			<td style="width: 80px;"></td>
			<td>
				<p><b>Solarkabel doppelt Isoliert</b></p>
				<p>- Einsatztemperatur -40° bis +120°C</p>
				<p>- Kurzschlussfest +280°C </p>
				<p>- Hohe UV-, Ozon-, Hydrolysebeständigkeit</p>
				<p>- Einsatztemperatur -40° bis +120°C</p>
				<p>- Kurzschlussfest +280°C </p>
				<p>- Hohe UV-, Ozon-, Hydrolysebeständigkeit</p>
			</td>
		</tr>
		 <tr>
			<td style="width: 40px;text-align: center;">4</td>
			<td style="width: 80px;"></td>
			<td style="width: 80px;"></td>
			<td>
				<b>Solarkabel doppelt Isoliert</b>
				<p>- Positive Leistungstoleranz (-0 Wp / +3 Wp)</p>
				<p>-(inkl. 20 Jahre Garantieverlängerung für SENEC Solar Module) </p>
				<p>- weitere technische Details sind dem beigefügten Datenblatt entnehmbar</p>
			</td>
		</tr> 
		</table>
			<table class="invoice-table" border="2">
	<tr></tr>
		

		<tr>
			<td style="width: 40px;text-align: center;">10</td>
			<td style="width: 80px;"></td>
			<td style="width: 80px;"></td>
			<td>
				<p><b><u>Zahlungsbedingungen</u></b></p>
				<p>100 % nach Lieferung der Ware und Aufdachmontage.
Bitte beachten Sie, dass der AC-Anschluss erst nach dem Zahlungseingang erfolgt.</p>
			</td>
		</tr>


			<tr>
			<td style="width: 40px;text-align: center;"></td>
			<td style="width: 80px;"></td>
			<td style="width: 80px;"></td>
			<td>
				<p style="text-align: right;margin-right: 30px;"><b> XXX</b></p>
			</td>
		</tr>
			<tr>
			<td style="width: 40px;text-align: center;"></td>
			<td style="width: 80px;">100%</td>
			<td colspan="2">
				<p>Am Tag der Verbauung xxxx
(jedoch nicht vor Bewilligung evtl. beantragter Kreditmittel)
verwendet ausschließlich TÜV geprüfte Komponenten,
die sämtlichen gängigen Normen und Zertifizierungen entsprechen.
Es gelten ausschließlich unsere Allgemeinen Geschäftsbedingungen,
einsehbar unter</p>
			</td>
		</tr>
	
			<tr>
			<td style="width: 40px;text-align: center;"></td>
			<td style="width: 80px;"></td>
			<td style="width: 80px;"></td>
			<td>
				<p style="text-align: right;margin-right: 30px;"><b>Zwischensumme : XXX</b></p>
				<p style="text-align: right;margin-right: 30px;"><b>MwSt 19% : XXX</b></p>
				<p style="text-align: right;margin-right: 30px;"><b>Gesamtsumme  : XXX</b></p>
			</td>
		</tr>
	</table>
	<p>Der Auftraggeber bestätigt, eine Abschrift dieses Auftrages sowie die Allgemeinen Geschäftsbedingungen
der Fa. erhalten und akzeptiert zu haben.</p>

<div class="line-area">
	<h4 style="width: 40%;float: left;border-bottom: 2px solid #000;">X</h4>

	<h4 style="width: 40%;float: right;border-bottom: 2px solid #000;">X</h4>
</div>
<br>
<br>
<br>
<div class="line-area2">
	<p style="width: 40%;float: left;border-bottom: 2px solid #000;padding-bottom: 10px;">Ort, Datum</p>
	<p style="width: 50%;float: right;border-bottom: 2px solid #000;padding-bottom: 10px;padding-left: 10px;">Unterschrift</p>
</div>
	</div>
