{% load static %}
{% load i18n %}

<link rel="stylesheet" href="{% static '/dashboard-assets/css/home_modal.css' %}"/>

<div class="modal fade bd-example-modal-lg" id="PurchaseModal" tabindex="-1" role="dialog" aria-labelledby="CustomerPurchaseInformation" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Customer' %} / {% trans 'Purchase' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <h4>{% trans 'Customer Information' %}</h4>
            <br>
            <table class="table table-sm">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{% trans 'Customer ID' %}</th>
                        <td>{{ customer.id }}</td>
                        <th scope="row">{% trans 'Purpose' %}</th>
                        <td>{{ customer.get_purpose_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Name' %}</th>
                        <td>{{ customer|title }}</td>
                        <th scope="row">{% trans 'Email' %}</th>
                        <td>{{ customer.email|default:'n.a' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Phone' %}</th>
                        <td>{{ customer.phone|default:'n.a' }}</td>
                        <th scope="row">{% trans 'Mobile' %}</th>
                        <td>{{ customer.mobile|default:'n.a' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Street' %}</th>
                        <td>{{ customer.street|default:'n.a' }}</td>
                        <th scope="row">{% trans 'Place' %}</th>
                        <td>{{ customer.place|default:'n.a' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Offer ID' %}</th>
                        <td class="input-switch"><span id="offer_id" type="text" class="customer">{{ customer.offer_id|default:'n.a' }}</span></td>
                        <th scope="row">{% trans 'Invoice ID' %}</th>
                        <td class="input-switch"><span id="invoice_id" type="text" class="customer">{{ customer.invoice_id|default:'n.a' }}</span></td>
                    </tr>
                </tbody>
            </table>
            <h4>{% trans 'Purchase' %}</h4>
            <br>
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th scope="row">{% trans 'Purchase ID' %}</th>
                        <td>{{ customer.purchase_record.id }}</td>
                        <th scope="row">{% trans 'Watt' %}</th>
                        <td class="input-switch"><span id="watt" type="text">{{ customer.purchase_record.watt|default:'n.a' }}</span></td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Module Count' %}</th>
                        <td class="input-switch"><span id="module_count" type="text">{{ customer.purchase_record.module_count|default:'n.a' }}</span></td>
                        <th colspan="1" scope="row">{% trans 'With Battery' %}</th>
                        <td colspan="1">{% if customer.purchase_record.with_battery %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</td>
                    </tr>
                    {% if customer.with_battery %}
                        <tr>
                            <th scope="row">{% trans 'Manufacturer' %}</th>
                            <td>{{ customer.purchase_record.manufacturer|default:'n.a' }}</td>
                            <th scope="row">{% trans 'KW/H' %}</th>
                            <td>{{ customer.purchase_record.kwh|default:'n.a' }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row">{% trans 'Manufacturer' %}</th>
                            <td>{{ customer.purchase_record.manufacturer2|default:'n.a' }}</td>
                            <th scope="row">{% trans 'KW/H' %}</th>
                            <td>{{ customer.purchase_record.kwh2|default:'n.a' }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">{% trans 'Price without tax' %}</th>
                        <td class="input-switch"><span id="price_without_tax" type="text">{{ customer.purchase_record.price_without_tax|default:'n.a' }}</span></td>
                        <th scope="row">{% trans 'Offer by' %}</th>
                        <td>{{ customer.purchase_record.get_offer_by_display|default:'n.a' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Offer Date' %}</th>
                        <td class="input-switch"><span id="offer_date" type="date">{{ customer.purchase_record.offer_date|default:'n.a' }}</span></td>
                        <th scope="row">{% trans 'Reseller Name' %}</th>
                        <td class="input-switch"><span id="reseller_name" type="text">{{ customer.purchase_record.reseller_name|default:'n.a' }}</span></td>
{#                        <th scope="row">{% trans 'Declined' %}</th>#}
{#                        <td>{{ customer.purchase_record.declined|default:'n.a' }}</td>#}
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'Date sent' %}</th>
                        <td class="input-switch"><span id="date_sent" type="date">{{ customer.purchase_record.date_sent|default:'n.a' }}</span></td>
                        <th scope="row">{% trans 'Project Planning Created' %}</th>
                        <td class="input-switch"><span id="project_planning_created" type="select">{% if customer.purchase_record.project_planning_created %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</span></td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'DC Term' %}</th>
                        <td class="input-switch"><span id="dc_term" type="date">{{ customer.purchase_record.dc_term|default:'n.a' }}</span></td>
                        <th scope="row">{% trans 'DC mechanic' %}</th>
                        <td class="input-switch"><span id="dc_mechanic" type="text">{{ customer.purchase_record.dc_mechanic|default:'n.a' }}</span></td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans 'AC Term' %}</th>
                        <td class="input-switch"><span id="ac_term" type="date">{{ customer.purchase_record.ac_term|default:'n.a' }}</span></td>
                        <th scope="row">{% trans 'AC mechanic' %}</th>
                        <td class="input-switch"><span id="ac_mechanic" type="text">{{ customer.purchase_record.ac_mechanic|default:'n.a' }}</span></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <h4>{% trans 'Attachments' %}</h4>
            <br>
            <table class="table table-sm">
                <tbody>
                {% for attachment in attachments %}
                    <tr>
{#                        <th scope="row">{% trans 'File Name' %}</th>#}
                        <td>{{ attachment.file_name }}.{{ attachment.file_type }}</td>
                        <td>{% trans 'Creator' %} - {{ attachment.uploaded_by }}</td>
                        <td>
                            <a style="text-decoration: none" target="_blank"
                               href="{{ MEDIA_URL }}{{ attachment.upload.url }}">[ <i class="icon-feather-download"></i><span> {% trans 'Download' %} ]</span>
                            </a>
                        </td>
                        <td>
                            <a style="text-decoration: none"
                               href="{% url 'mainapp:email_attachment' customer_id=customer.id pk=attachment.pk %}">[ <i class="icon-feather-mail"></i><span> {% trans 'Email' %} ]</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    function patchRequest(obj, cat='purchase') {
        if (cat === 'customer') {
            const url = "{% url 'mainapp:patch_customer' pk=customer.id %}";
            $.post(url , obj, function( data ) {
                console.log("updated customer!");
            });
        } else {
            {% if customer.purchase_record.id %}
                const url = "{% url 'mainapp:patch_purchase' pk=customer.purchase_record.id %}";
                $.post(url , obj, function( data ) {
                    console.log("updated!");
                });
            {% else %}
                alert('{% trans "No Purchase Record" %}!');
            {% endif %}
        }
    }

    let switches = $('.input-switch');

    let spans = switches.find('span');
    spans.each(function() {
        $(this).css('color', 'blue');

        const id = $(this)[0].attributes.id.nodeValue;
        const type = $(this)[0].attributes.type.nodeValue;
        // append and hide;
        if (type === 'select') {
            $(this).after(`<select name=${id}><option value=${1}>{% trans 'Yes' %}</option><option value=${0}>{% trans 'No' %}</option></select>`);
        } else {
            $(this).after(`<input name=${id} type=${type} />`);
        }
        $(this).siblings().hide();
    }).on('click', function() {
        $(this).hide().siblings().show().focus().select().val($(this).text());
    });

    let inputs = switches.find('input');
    inputs.on('blur', function() {
        $(this).hide().siblings().show().text($(this).siblings().text());
    }).on('keydown', function(e) {
        if (e.which === 13) {
            e.preventDefault();
            $(this).hide().siblings().show().text($(this).val());
            // form submit here
            const id = $(this).siblings()[0].attributes.id.nodeValue;
            const _class = $(this).siblings()[0].className;
            let obj = {};
            obj[id] = $(this).val();
            //
            patchRequest(obj, _class);
        }
    });

    let selects = switches.find('select');
    selects.on('blur', function() {
        $(this).hide().siblings().show().text($(this).siblings().text());
    }).on('change', function(e) {
        e.preventDefault();
        $(this).hide().siblings().show().text($(this).val() == 1);
        // form submit here
        const id = $(this).siblings()[0].attributes.id.nodeValue;
        let obj = {};
        obj[id] = $(this).val();
        //
        console.log(obj);
        patchRequest(obj);
    });
</script>
