{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<!-- Start 2nd section -->
{% block content %}
    <div class="container-fluid" style="padding: 0px 40px">
        <div class="row mt-5">
            <div class="col-md-12 col-lg-12">
                <div class="round-img text-center"
                     data-toggle="modal" data-target="#PurchaseModal"
                >
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-0"></div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                            <img src="https://picsum.photos/seed/{{ customer.id }}000/200/200" class="vert-hori-center avatar-img rounded-circle"
                            alt="">
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6">
                            <h3 class="pt-4">{{ customer.first_name }} {{ customer.surname }}</h3>
                            <p style="font-size: 12px; padding-top: 5px;">
                                <p>{{ customer.email }} | {{ customer.mobile }}</p>
                                <div>{{ customer.street }} {{ customer.place }} {{ customer.postcode }}</div>
                            </p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-0"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-lg-6">
                <div class="list-area home-card">
                    <ul>
                        {% if customer.purchase_record %}
                            <li><a target="_blank" role="button" class="btn btn-primary btn-block" href="{% url 'mainapp:pdf_offer' customer_id=customer.id %}">{% trans "Offer" %}</a></li>
                            <li><a target="_blank" role="button" class="btn btn-primary btn-block" href="{% url 'mainapp:pdf_offer_confirm' customer_id=customer.id %}">{% trans "Offer Confirmation" %}</a></li>
                            <li><a target="_blank" role="button" class="btn btn-primary btn-block" href="{% url 'mainapp:pdf_install' customer_id=customer.id %}">{% trans "Installation" %}</a></li>
                            <li><a target="_blank" role="button" class="btn btn-primary btn-block" href="{% url 'mainapp:pdf_invoice' customer_id=customer.id %}">{% trans "Invoice" %}</a></li>
                        {% else %}
                            <li><a role="button" onclick="alert('Customer has no purchase record')" class="btn btn-primary btn-block" disabled>{% trans "Offer" %}</a></li>
                            <li><a role="button" onclick="alert('Customer has no purchase record')" class="btn btn-primary btn-block" disabled>{% trans "Offer Confirmation" %}</a></li>
                            <li><a role="button" onclick="alert('Customer has no purchase record')" class="btn btn-primary btn-block" disabled>{% trans "Installation" %}</a></li>
                            <li><a role="button" onclick="alert('Customer has no purchase record')" class="btn btn-primary btn-block" disabled>{% trans "Invoice" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="" style="display: flex; flex-direction: column">
                    <div class="card">
{#                        {{request.session|get:'_language' }}#}
                        <a href="{% url 'mainapp:chat:index' %}">
                            <span>{% trans 'Chat' %} <span class="chat_badge" style="background-color: red; font-size: 10px; border-radius: 5px; width: 20px; display: inline-block; text-align:center"></span></span>
                        </a>
                    </div>
                    <div class="card">
                        <a href="{% url 'mainapp:add_call_notes' customer_id=customer.id %}">
                            <span>{% trans 'Call Notice' %}</span>
                        </a>
                    </div>
                    <div class="card">
                        <a href="{% url 'mainapp:open_task_list' %}">
                            <span>{% trans 'To Do List' %}</span>
                        </a>
                    </div>
                    <div class="card">
                        <a href="{% url 'mainapp:add_attachments' customer_id=customer.id %}">
                            <span>{% trans 'Attachment' %}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- start modal section -->
    {% include 'home/customer_purchase_modal.html' %}

{% endblock %}

<script>
</script>

</body>
<!-- =============== jquery-3.3.1.min.js =============== -->
<script src="{% static '/dashboard-assets/js/jquery-3.3.1.min.js' %}"></script>

<!-- =============== bootstrap.min.js =============== -->
<script src="{% static '/dashboard-assets/js/bootstrap.min.js' %}"></script>


<!-- =============== main.js =============== -->
<script src="{% static '/dashboard-assets/js/main.js' %}"></script>
</html>