{% load static %}
<html lang="en-US">
<head>
    <!-- =============== Meta =============== -->
    <meta charset="UTF-8">

    <!-- =============== Viewport =============== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- =============== Description =============== -->
    <meta name="description" content=""/>

    <!-- =============== keywords =============== -->
    <meta name="keywords" content=""/>


    <!-- =============== Title =============== -->
    <title>Dashbord</title>


    <!-- =============== Bootstrap =============== -->
    <link rel="stylesheet" href="{% static '/dashboard-assets/css/bootstrap.min.css' %}"/>

    <!-- =============== Favicon =============== -->
    <link href="{% static '/dashboard-assets/img/logo.png" rel="shortcut icon' %}"/>

    <!-- =============== Fontawsome =============== -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <!-- =============== Main_CSS =============== -->
    <link rel="stylesheet" href="{% static '/dashboard-assets/css/style.css' %}"/>

    <!-- =============== Responsive_CSS =============== -->
    <link rel="stylesheet" href="{% static '/dashboard-assets/css/responsive.css' %}"/>

    <!-- =============== CUSTOM CSS =============== -->
    <link rel="stylesheet" href="{% static '/dashboard-assets/css/custom_style.css' %}"/>

</head>
<body>
{% include "navsection.html" %}
<!-- Start 2nd section -->
<section class="check-area">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-6 col-lg-6">
                <div class="round-img text-center home-card">
{#                    <a href="{% url 'mainapp:customer_home' customer_id=customer.pk %}">#}
                    <img src="https://picsum.photos/seed/{{ customer.id }}000/200/200" class="img-fluid mx-auto rounded-circle"
                         alt="">
{#                        <div class="img-fluid mx-auto circle-container">#}
{#                            <div class="circle-container-item">#}
{#                                {{ customer.first_name.0|title }}#}
{#                            </div>#}
{#                        </div>#}
                        <h3 class="pt-4">{{ customer.first_name }} {{ customer.surname }}</h3>
                        <p style="font-size: 12px; padding-top: 5px;">
                            <p>{{ customer.email }} | {{ customer.mobile }}</p>
                            <div>{{ customer.street }} {{ customer.place }} {{ customer.postcode }}</div>
                        </p>
{#                    </a>#}
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="list-area home-card">
                    <ul>
                        <li><i class="fas fa-check"> </i> Angebot</li>
                        <li><i class="fas fa-check"> </i> Auftragsbestatigung</li>
                        <li><i class="fas fa-check"> </i> Traffic</li>
                        <li><i class="fas fa-check"> </i> Platform</li>
                        <li><i class="fas fa-check bg-danger"> </i> Muller</li>
                        <li><i class="fas fa-check bg-warning"> </i> Stand</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start card section -->
<section class="card-area">
    <div class="container-fluid">
        <div class="card-deck" style="display: flex;">
            <div class="row" style="flex: 1;">
                <div class="col-md-4 col-lg-4">
                    <div class="card">
                        <div class="todo-list">
                            <h6 style="text-align: center" id="{{ customer.id }}" onclick="open_chat(this)">Chat</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="card">
                        <div class="todo-list">
                            <h6 style="text-align: center" id="{{ customer.id }}" onclick="add_call_notes(this)">Call
                                Notice</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="card">
                        <div class="todo-list">
                            <h6 onclick="task_list_btn()" style="text-align: center">To Do List</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function open_chat(btn) {
        window.open(
            "/chat/",
            '_blank');
    }

    function add_call_notes(btn) {
        window.open(
            "{% url 'mainapp:add_call_notes' customer_id=1234 %}".replace(/1234/, btn.id),
            '_blank');
    }

    function task_list_btn() {
        window.open("{% url 'mainapp:open_task_list' %}", '_blank');
    }
</script>

</body>
<!-- =============== jquery-3.3.1.min.js =============== -->
<script src="{% static '/dashboard-assets/js/jquery-3.3.1.min.js' %}"></script>

<!-- =============== bootstrap.min.js =============== -->
<script src="{% static '/dashboard-assets/js/bootstrap.min.js' %}"></script>


<!-- =============== main.js =============== -->
<script src="{% static '/dashboard-assets/js/main.js' %}"></script>
</html>