{% extends 'base.html' %}
{% load static %}

<!-- Start 2nd section -->
{% block content %}
    <div class="container-fluid" style="padding: 0px 40px">
        <div class="row mt-5">
            <div class="col-md-12 col-lg-12">
                <div class="round-img text-center home-card">
{#                    <a href="{% url 'mainapp:customer_home' customer_id=customer.pk %}">#}
                    <img src="https://picsum.photos/seed/{{ customer.id }}000/200/200" class="img-fluid mx-auto rounded-circle"
                         alt="">
{#                        <div class="img-fluid mx-auto circle-container">#}
{#                            <div class="circle-container-item">#}
{#                                {{ customer.first_name.0|title }}#}
{#                            </div>#}
{#                        </div>#}
                        <h3 class="pt-4">{{ customer.first_name }} {{ customer.surname }}</h3>
                        <p style="font-size: 12px; padding-top: 5px;">
                            <p>{{ customer.email }} | {{ customer.mobile }}</p>
                            <div>{{ customer.street }} {{ customer.place }} {{ customer.postcode }}</div>
                        </p>
{#                    </a>#}
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-lg-6">
                <div class="list-area home-card">
                    <ul>
                        <li><i class="fas fa-check"> </i> Angebot</li>
                        <li><i class="fas fa-check"> </i> Auftragsbestatigung</li>
                        <li><i class="fas fa-check"> </i> Traffic</li>
                        <li><i class="fas fa-check"> </i> Platform</li>
                        <li><i class="fas fa-check bg-danger"> </i> Muller</li>
                        <li><i class="fas fa-check bg-warning"> </i> Stand</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="" style="display: flex; flex-direction: column">
                    <div class="card">
                        <a href="/chat/">
                            <span id="{{ customer.id }}" onclick="open_chat(this)">Chat</span>
                        </a>
                    </div>
                    <div class="card">
                        <a href="{% url 'mainapp:add_call_notes' customer_id=customer.id %}">
                            <span id="{{ customer.id }}" onclick="add_call_notes(this)">Call Notice</span>
                        </a>
                    </div>
                    <div class="card">
                        <a href="{% url 'mainapp:open_task_list' %}">
                            <span onclick="task_list_btn()" >To Do List</span>
                        </a>
                    </div>
                    <div class="card">
                        <span>Attachment</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- start card section -->
{% endblock %}

<script>
    function open_chat() {
        window.open(
            "/chat/",
            '_blank');
    }

    function add_call_notes(btn) {
        window.open(
            "{% url 'mainapp:add_call_notes' customer_id=1234 %}".replace(/1234/, btn.id),
            '_blank');
    }

    function task_list_btn() {
        window.open("{% url 'mainapp:open_task_list' %}", '_blank');
    }
</script>

</body>
<!-- =============== jquery-3.3.1.min.js =============== -->
<script src="{% static '/dashboard-assets/js/jquery-3.3.1.min.js' %}"></script>

<!-- =============== bootstrap.min.js =============== -->
<script src="{% static '/dashboard-assets/js/bootstrap.min.js' %}"></script>


<!-- =============== main.js =============== -->
<script src="{% static '/dashboard-assets/js/main.js' %}"></script>
</html>