<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />

<style>
    .search-bar {
        margin-top: -0.75%;
    }
    .search-button {
        position: absolute; top: 50%; left: 30px; transform: translateY(-50%);
    }

</style>

<div class="search-bar">
{#    <select class="form-control selectpicker" id="select-customer" data-live-search="true">#}
{#        {% for customer in customers %}#}
{#            <option data-tokens="{{ customer.id }} {{ customer.first_name }} {{ customer.email }}">{{ customer.name }}</option>#}
{#        {% endfor %}#}
{#    </select>#}
    <form method="POST" action="{% url 'mainapp:home' %}" style="position: relative;">
        {% csrf_token %}
        <input type="text" name="name"
               style="width: 50%"
               class="form-control" placeholder="Search" maxlength="255" required="" id="id_name">
        <div class="search-button">
            <i class="fas fa-search"></i>
        </div>
        <button class="button" type="submit" id="id_search_btn" hidden></button>
    </form>
</div>

<script>
    $(document).ready(function () {
        var input = document.getElementById("id_name");
        input.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("id_search_btn").click();
            }
        });
{#        $('.selectpicker').selectpicker();#}
    });

    $(function() {
      $('.selectpicker').selectpicker();
    });
</script>