{% load i18n %}

<div class="col-lg-4 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">{% trans 'Create Documents' %}</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <ul class="activity-timeline timeline-left list-unstyled">
                    <li>
                        <div class="timeline-icon bg-warning">
                            <i class="feather icon-check font-medium-2 align-middle"></i>
                        </div>
                        <div class="timeline-info">
                            {% if customer.purchase_record %}
                                <a target="_blank" href="{% url 'mainapp:pdf_offer' customer_id=customer.id %}">
                            {% else %}
                                <a href="#">
                            {% endif %}
                                <p class="font-weight-bold mb-0">{% trans 'Offer' %}</p>
                                <span class="font-small-3">{% trans 'Create a new offer document' %}</span>
                            </a>
                        </div>
                        <small class="text-muted">-</small>
                    </li>
                    <li>
                        <div class="timeline-icon bg-danger">
                            <i class="feather icon-check font-medium-2 align-middle"></i>
                        </div>
                        <div class="timeline-info">
                            {% if customer.purchase_record %}
                                <a target="_blank" href="{% url 'mainapp:pdf_offer_confirm' customer_id=customer.id %}">
                            {% else %}
                                <a href="#">
                            {% endif %}
                                <p class="font-weight-bold mb-0">{% trans 'Offer Confirmation' %}</p>
                                <span class="font-small-3">{% trans 'Create a new offer confirmation document' %}</span>
                            </a>
                        </div>
                        <small class="text-muted">-</small>
                    </li>
                    <li>
                        <div class="timeline-icon bg-success">
                            <i class="feather icon-check font-medium-2 align-middle"></i>
                        </div>
                        <div class="timeline-info">
                            {% if customer.purchase_record %}
                                <a target="_blank" href="{% url 'mainapp:pdf_install' customer_id=customer.id %}">
                            {% else %}
                                <a href="#">
                            {% endif %}
                                <p class="font-weight-bold mb-0">{% trans 'Installation' %}</p>
                                <span class="font-small-3">{% trans 'Create a new installaion document' %}</span>
                            </a>
                        </div>
                        <small class="text-muted">-</small>
                    </li>
                    <li>
                        <div class="timeline-icon bg-primary">
                            <i class="feather icon-check font-medium-2 align-middle"></i>
                        </div>
                        <div class="timeline-info">
                            {% if customer.purchase_record %}
                                <a target="_blank" href="{% url 'mainapp:pdf_invoice' customer_id=customer.id %}">
                            {% else %}
                                <a href="#">
                            {% endif %}
                                <p class="font-weight-bold mb-0">{% trans 'Invoice' %}</p>
                                <span class="font-small-3">{% trans 'Create a new invoice document' %}</span>
                            </a>
                        </div>
                        <small class="text-muted">-</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>