{% extends 'base/index.html' %}

{% load static %}
{% load i18n %}

{% block vendorcss %}
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/charts/apexcharts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pp-assets/vendors/css/extensions/tether-theme-arrows.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pp-assets/vendors/css/extensions/tether.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pp-assets/vendors/css/extensions/shepherd-theme-default.css' %}">
    <!-- END: Vendor CSS-->
{% endblock %}

{% block pagecss %}

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/dashboard-analytics.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/card-analytics.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/tour/tour.css' %}">
    <!-- END: Page CSS-->

{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Dashboard Analytics Start -->
            <section id="dashboard-analytics">
                <div class="row">
                    <div class="col-lg-2 col-md-0 col-sm-0"></div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="card bg-analytics text-white">
                                <div class="card-content">
                                    <div class="card-body text-center">
                                        <div class="avatar avatar-xl bg-primary shadow mt-0">
                                            <div class="avatar-content">
                                                <i class="feather icon-award white font-large-1"></i>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <h1 class="mb-2 text-white">{{ customer }}</h1>
                                            <p class="m-auto w-75">{{ customer.email }} <strong>{{ customer.mobile }}</strong></p>
                                            <p class="m-auto w-75">{{ customer.street }} {{ customer.place }} {{ customer.postcode }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-2 col-md-0 col-sm-0"></div>
                </div>
            <div class="row">
                {% include 'dashboard/file_buttons.html' %}
                {% include 'dashboard/attachments.html' %}
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    {% include 'dashboard/last_seven_days_purchases.html' %}
                </div>
                <div class="col-md-6 col-12">
                    {% include 'dashboard/installations_next_three_months.html' %}
                </div>
            </div>

            {% include 'dashboard/purchase_detail.html' %}
        </section>
        <!-- Dashboard Analytics end -->
        </div>
    </div>
{% endblock %}

{% block pagevendorjs %}
    <!-- BEGIN: Page Vendor JS-->
{#    <script src="{% static 'app-assets/vendors/js/charts/apexcharts.min.js' %}"></script>#}
    <script src="{% static 'app-assets/vendors/js/extensions/tether.min.js' %}"></script>
    <!-- END: Page Vendor JS-->
{% endblock %}

{% block pagejs %}
    <script src="{% static 'app-assets/js/scripts/pages/dashboard-analytics.js' %}"></script>
{% endblock %}

{% block customjs %}
    <script>
        function patchRequest(obj, cat='purchase') {
            if (!{{customer}}) {
                return null;
            }
            if (cat === 'customer') {
                const url = "{% url 'mainapp:patch_customer' pk=customer.id %}";
                $.post(url , obj, function( data ) {
                    console.log("updated customer!");
                });
            } else {
                {% if customer.purchase_record.id %}
                    const url = "{% url 'mainapp:patch_purchase' pk=customer.purchase_record.id %}";
                    $.post(url , obj, function( data ) {
                        console.log("updated!");
                    });
                {% else %}
                    alert('{% trans "No Purchase Record" %}!');
                {% endif %}
            }
        }

        let switches = $('.input-switch');
        console.log('switches');

        let spans = switches.find('span');
        spans.each(function() {
            $(this).css('color', 'blue');

            const id = $(this)[0].attributes.id.nodeValue;
            const type = $(this)[0].attributes.type.nodeValue;
            // append and hide;
            if (type === 'select') {
                $(this).after(`<select name=${id}><option value=${1}>{% trans 'Yes' %}</option><option value=${0}>{% trans 'No' %}</option></select>`);
            } else {
                $(this).after(`<input name=${id} type=${type} />`);
            }
            $(this).siblings().hide();
        }).on('click', function() {
            $(this).hide().siblings().show().focus().select().val($(this).text());
        });

        let inputs = switches.find('input');
        inputs.on('blur', function() {
            $(this).hide().siblings().show().text($(this).siblings().text());
        }).on('keydown', function(e) {
            if (e.which === 13) {
                e.preventDefault();
                $(this).hide().siblings().show().text($(this).val());
                // form submit here
                const id = $(this).siblings()[0].attributes.id.nodeValue;
                const _class = $(this).siblings()[0].className;
                let obj = {};
                obj[id] = $(this).val();
                //
                patchRequest(obj, _class);
            }
        });

        let selects = switches.find('select');
        selects.on('blur', function() {
            $(this).hide().siblings().show().text($(this).siblings().text());
        }).on('change', function(e) {
            e.preventDefault();
            $(this).hide().siblings().show().text($(this).val() == 1);
            // form submit here
            const id = $(this).siblings()[0].attributes.id.nodeValue;
            let obj = {};
            obj[id] = $(this).val();
            //
            console.log(obj);
            patchRequest(obj);
        });
    </script>
{% endblock %}
