{% load static %}
{% load i18n %}

<div class="card">
    <div class="card-content">
        <div class="card-body">
            <div class="row pb-50">
                <div class="col-lg-6 col-12 d-flex justify-content-between flex-column order-lg-1 order-2 mt-lg-0 mt-2">
                    <div>
                        <h2 class="text-bold-700 mb-25">{{ purchases_last_seven_days|length }}</h2>
                        <p class="text-bold-500 mb-75">{% trans 'Purchases' %}</p>
                        <h5 class="font-medium-2">
                            <span>{% trans 'last 7 days' %}</span>
                        </h5>
                    </div>
                    <a href="#" class="btn btn-primary shadow">{% trans 'View Details ' %}<i class="feather icon-chevrons-right"></i></a>
                </div>
                <div class="col-lg-6 col-12 d-flex justify-content-between flex-column text-right order-lg-2 order-1">
                    <div class="dropdown chart-dropdown">
                        <button class="btn btn-sm border-0 dropdown-toggle p-0" type="button" id="dropdownItem5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Last 7 Days
                        </button>
{#                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownItem5">#}
{#                            <a class="dropdown-item" href="#">Last 28 Days</a>#}
{#                            <a class="dropdown-item" href="#">Last Month</a>#}
{#                            <a class="dropdown-item" href="#">Last Year</a>#}
{#                        </div>#}
                    </div>
                    <div id="avg-purchase-chart"></div>
                </div>
            </div>
            <hr />
            <div class="row avg-sessions pt-50">
                <div class="col-12">
                    <p class="mb-0">{{ purchases_last_seven_days.0.watt }} {% trans 'watt' %}: € {{ purchases_last_seven_days.0.total|floatformat:2 }}</p>
                    <div class="progress progress-bar-primary mt-25">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="50" aria-valuemax="100" style="width:50%"></div>
                    </div>
                </div>
                {% if purchases_last_seven_days.1.watt %}
                    <div class="col-12">
                        <p class="mb-0">{{ purchases_last_seven_days.1.watt }} {% trans 'watt' %}: € {{ purchases_last_seven_days.1.total|floatformat:2 }}</p>
                        <div class="progress progress-bar-danger mt-25">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="70" aria-valuemax="100" style="width:70%"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
    var options = {
        chart: {
            type: 'bar'
        },
        series: [{
            name: 'purchases',
            data: [{{ purchases_last_seven_days.0.total|floatformat:0 }}, {{ purchases_last_seven_days.1.total|floatformat:0 }}]
        }],
        xaxis: {
            categories: [{{ purchases_last_seven_days.0.watt }} + " watt", {{ purchases_last_seven_days.1.watt }} + " watt"]
        }
    };

    var chart = new ApexCharts(document.querySelector("#avg-purchase-chart"), options);

    chart.render();
</script>
